body {
  background-color: var(--background-color);
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%;
}

:root {
  --background-color: var(--platinum);

  --maximum-blue-green: hsla(180, 47%, 56%, 1);
  --plump-purple: hsla(247, 37%, 45%, 1);
  --platinum: hsla(0, 0%, 92%, 1);
  --ash-gray: hsla(97, 13%, 80%, 1);
  --dark-sea-green: hsla(133, 18%, 59%, 1);
}
